@import url('./colors.less');

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

* {
    box-sizing: border-box;
}

.heebo {
    font-family: 'Heebo', sans-serif;
}

.monospace {
    font-family: 'Anonymous Pro', monospace;
}

.gone {
    display: none;
}

.invisible {
    opacity: 0;
}

.spacing-8 {
    /* Add 8px margin to everyone except the first child. */
    & > *:not(:first-child) {
        margin-top: 8px;
    }
}

/* Switchable resizeable panel windows. */

.aeon-panels {
    display: block;        

    &> div {
        display: none;
        width: 480pt;
        min-width: 360pt;
        resize: horizontal;
    
        background-color: @colorBackground;
        box-shadow: 0pt 2pt 5pt @colorShadow;
        padding: 8pt;
        border-radius: 8pt;
        overflow-y: scroll;    
        overflow-x: visible;

        h2 {
            margin: 0 auto;

            &.single-line {
                height: 16pt; /* This will align the heading with the grid. */
            }            

            user-select: none;
            text-align: center;
            font-size: 14pt;
            font-weight: 900;
        }

        h3 {
            margin: 0 auto;

            &.single-line {
                height: 16pt;
            }            

            user-select: none;
            text-align: center;
            font-size: 13pt;
            font-weight: 700;
        }

        h4 {
            font-family: 'Anonymous Pro', monospace;
            height: 16pt;
            margin: 0;

            text-transform: uppercase;            
            user-select: none;
            font-size: 12pt;          
            font-weight: 600;  
        }

        /* Styling for a basic "content box" inside a panel. */
        .box {
            padding: 8pt;
            background-color: lighten(@colorBackground, 10%);
            border-radius: 8pt;
            box-shadow: 0pt 1pt 2pt @colorShadow;            

            .inline-input [contenteditable="true"]:focus {
                background-color: @colorActionBackground;
                box-shadow: none;
            }
        }
    }
    
    &> div.selected {
        display: inline-block;    
    }

    &> div.fixed {
        resize: none;
        width: 360pt;

        /* In fixed-width panels, you can use a two-column layout. */
        .column {
            /* 360 / 2, minus 16 for padding and 1 for border. */
            width: 162pt;

            padding: 8pt;
            
            &.left {  float: left; }
            
            &.right { float: right; }
        }

        .column-separator {
            position: absolute;
            left: 50%;
            top: 0;
            bottom: 0;

            width: 1pt;
            background: darken(@colorActionBackground, 10%);
            border-radius: 2pt;
        }
    }
    
    
    /* Position panel close button. */
    .panel-close {
        float: left;
        position: relative;
        top: -4pt;
        left: -4pt;
    }
    
}

/* Small image button without description */

.img-button {
    cursor: pointer;

    transition: background-color 0.3s;

    &:hover {
        background-color: darken(@colorActionBackground, 10%);
        box-shadow: 0pt 1pt 2pt @colorShadow;
    }
}

.img-button-24 {
    .img-button();
    
    width: 16pt;
    height: 16pt;

    padding: 4pt;
    border-radius: 8pt;
}

.img-button-solid-32 {
    position: relative;
    width: 32pt;
    height: 32pt;
    cursor: pointer;
    
    transition: background-color 0.3s;
    background-color: @colorActionBackground;    
    box-shadow: 0pt 2pt 5pt @colorShadow;        
    border-radius: 8pt;
    border: 0;

    &:hover, &:focus {
        outline: none;
        background-color: darken(@colorActionBackground, 10%);
    }    

    img {
        position: absolute;
        width: 16pt;
        height: 16pt;
        top: 8pt;
        left: 8pt;
    }
}

/* Invisible input is an input object that looks like a normal text, but when clicked becomes editable. */

.inline-input-indicator {
    /* Indicator is declared separately so that is can be placed outside of the inline input. */
    position: absolute;
    display: block;
    width: 16pt;
    height: 16pt;
    margin-left: 4pt;
    
    content: url('/asset/img/edit-16px.svg');
    background-color: @colorSecondary;
    border-radius: 8pt;
    padding: 4pt;
    box-shadow: 0pt 1pt 2pt @colorShadow;                                
    
    transition: opacity 0.2s;        
}

.inline-input {

    [contenteditable=true] {
        width: auto;
        display: inline-block;
        padding: 4pt;
        /*  Used to hide the padding so that the positioning 
            is relative to content, not padded content. */
        position: relative;
        left: -4pt;
        top: -4pt;
        right: -4pt;
        bottom: -4pt;
        max-width: 100%;

        cursor: pointer;           
        border-radius: 4pt;
        //border: 1px solid transparent;       
        transition: background-color 0.1s;
        
        &:focus {
            background: lighten(@colorBackground, 10%);
            outline: none;            
            cursor: text;
            box-shadow: 0pt 1pt 2pt @colorShadow;
        }        

        /*  A small "edit" icon which is visible 
            when the element is hovered. */
        &::after {
            .inline-input-indicator();
            right: -28pt;
            top: 0px;
            
            opacity: 0;
        }

        &:hover::after { /* Show icon when hovered. */ opacity: 1; }

        &:focus::after { /* Hide edit icon when in editing mode. */ opacity: 0; }
    }

    &.no-indicator {
        [contenteditable=true] {
            &::after {
                display: none;
            }
        }
    }

    .paragraph {
        width: 100%; 
        text-align: justify;        
    }

}

/* A clickable piece of text. */
.inline-button {
    cursor: pointer;    

    &:hover {
        font-weight: 700;
    }
}



/* Design grid */

.design-horizontal-gridline {
    width: 100%;
    height: 1px;
    background-color: @colorPrimary;
    position: fixed;
    left: 0;
}

.design-vertical-gridline {
    height: 100%;
    width: 1px;
    background-color: @colorPrimary;
    position: fixed;
    top: 0;
}
