@import url("./aeon.less");

body {
	/* Avoids unnecessary scrollbars. */
	overflow: hidden;
}

#editor-dock {
	position: fixed;

    top: 0;
	margin-top: 8pt;	
    margin-left: 8pt;
}

#editor-panels {
	position: absolute;

	margin-left: 64pt;
	margin-top: 8pt;	
}

#editor-panels > div {
	/* 16 for margin, 16 for padding */
	max-height: calc(100vh - 32pt);
	max-width: calc(100vw - 200pt);
}

#editor-cytoscape {
	position: absolute;
    left: 0;
    right: 0;
    bottom: 0;    
    top: 0;
    z-index: -1;

    background: #f9f9f9;    
}

#editor-zoom-menu {
	position: absolute;
	right: 16pt;
	bottom: 16pt;	
}



/* Floating cytoscape menu styles */

.floating-menu {
	position: absolute;
    /* Initially, menu is off screen */
	left: -200pt;
	top: -200pt;
    /* This restricts the hit box of the floating menut to just the buttons. */
    width: 80pt;
	height: 24pt;
	/* Ensures the zoom is properly applied when needed */
	transform-origin: 0% 0%;
    /* We don't animate other stuff because that needs to be in sync with the graph */
    transition: opacity 0.3s;
	user-select: none;
	margin-bottom: -22pt;

	.button-row {
		height: 24pt;
		width: 80pt;
		margin: 0 auto;
		
		text-align: center;
		border-radius: 24pt;
		background-color: @colorActionBackground;
		box-shadow: 0pt 2pt 5pt @colorShadow;

		img:first-child { float: left; }
		img:last-child { float: right; }

		img {			
			.img-button();
			display: inline-block;
			width: 12pt;
    		height: 12pt;

    		padding: 6pt;
    		border-radius: 24pt;			
		}
	}

	.hint {
		position: relative;
		display: block;
		margin: 0 auto;
		margin-top: 8pt;
		/* Should fit all hint texts in one line. */
		width: 110pt;			
		height: 14pt;
		/* Adjust to be centered. */
		left: -15pt;
		
		text-align: center;
		font-size: 10pt;
		font-weight: bold;
    	transition: opacity 0.3s;    	
    	text-shadow: 0pt 2pt 5pt @colorShadow;
		pointer-events: none;		
	}

}
